{% set treeAdapter = treeAdapter|default('fancytree')|lower %}

{% if treeAdapter == 'fancytree' %}
<script>window.jQuery || document.write('<script src="{{ asset(assetsBasePath ~ '/jquery/dist/jquery.min.js') }}"><\/script>')</script>
<script>window.jQuery.ui || document.write('<script src="{{ asset(assetsBasePath ~ '/jquery-ui/jquery-ui.min.js') }}"><\/script>')</script>
{% endif %}

<script src="{{ asset('bundles/cmftreebrowser/js/cmf_tree_browser.' ~ treeAdapter ~ '.js') }}" type="text/javascript"></script>

<link rel="stylesheet" href="{{ asset('bundles/cmftreebrowser/css/cmf_tree_browser.' ~ treeAdapter ~ '.css') }}" media="all"/>
